
bin/Debug/netcoreapp2.0/ProjetoMvc.dll
bin/Debug/netcoreapp2.0/ProjetoMvc.dll
bin/Debug/netcoreapp2.0/ProjetoMvc.dll
bin/Debug/netcoreapp2.0/ProjetoMvc.runtimeconfig.dev.json
obj/ProjetoMvc.csproj.nuget.cache
obj/ProjetoMvc.csproj.nuget.cache
