@{
    ViewData["Title"] = "Sobre";
}

<div class="jumbotron">
  <h2>@ViewData["Title"]</h2> 
  <h3 class="text-center">@ViewData["Message"]</h3>
  <br>
  <h5>As funcionalidades aqui aplicadas são de autoria da FyR3 Desenvolvimento</h5>
</div>

