@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Marcelo Drumand<br />
    Curitiba-PR , Brasil<br />
    <abbr title="Phone">Fone:</abbr>
    +55 41 99774-8061
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:mrcelo@fyr3.com.br">marcelo@fyr3.com.br</a><br />
    <!-- <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a> -->
</address>
