@model ProjetoMvc.Models.Threads

@{
    ViewBag.Title = "Threads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
  <h1>Brincando com Threads</h1>
  <p>Nesse exemplo darei exemplo de Threads e multi-Threads</p> 
</div>

<div class="row-fluid">    
    <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>  
        <option>4</option>
        <option>5</option>
    </select>
</div>
